
!Software Version V500R005C10SPC300
!Last configuration was saved at 2025-06-29 08:34:08 UTC
#
sysname FW1
#
 l2tp enable
 l2tp domain suffix-separator @
#
 ipsec sha2 compatible enable 
#
undo telnet server enable
undo telnet ipv6 server enable
#
 update schedule location-sdb weekly Sun 05:33
#
 firewall defend action discard
#
 banner enable
#
 user-manage web-authentication security port 8887
 undo privacy-statement english
 undo privacy-statement chinese
page-setting
 user-manage security version tlsv1.1 tlsv1.2
password-policy
 level high
user-manage single-sign-on ad
user-manage single-sign-on tsm
user-manage single-sign-on radius
user-manage auto-sync online-user
#
 web-manager security version tlsv1.1 tlsv1.2
 web-manager enable
 web-manager security enable
#
firewall dataplane to manageplane application-apperceive default-action drop
#
 undo ips log merge enable
#
 decoding uri-cache disable
#
 update schedule ips-sdb daily 05:57
 update schedule av-sdb daily 05:57
 update schedule sa-sdb daily 05:57
 update schedule cnc daily 05:57
 update schedule file-reputation daily 05:57
#
ip vpn-instance default
 ipv4-family
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
acl number 3000
 rule 5 permit ip source 100.0.2.0 0.0.0.255 destination 200.0.1.0 0.0.0.255 
#
ipsec proposal MK
 esp authentication-algorithm sha2-256 
 esp encryption-algorithm aes-256 
#
ipsec policy p1 10 manual
 security acl 3000
 proposal MK
 tunnel local 1.1.1.1
 tunnel remote 1.1.1.2
 sa spi inbound esp 12345678
 sa string-key inbound esp %^%#d,uh/{(Y6Nu+GTL`ceLIK1|gXUE'^Yl#F/G^2=!U%^%#
 sa spi outbound esp 87654321
 sa string-key outbound esp %^%#Dd~NC](n,*5=4=S,~pg8aLoqNFg|`&la!pSSJOyT%^%#
#
ike proposal default
 encryption-algorithm aes-256 aes-192 aes-128 
 dh group14 
 authentication-algorithm sha2-512 sha2-384 sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 manager-user audit-admin 
  password cipher @%@%cmN[G\-NPMrE1(&qJO{D3SUW0$>a"6\Hg&%|}v49Q]98SUZ3@%@%
  service-type web terminal 
  level 15 

 manager-user api-admin 
  password cipher @%@%ttq9"k~:V(%>n5%Cw-/"X:ThJd0N*lh^eGgb1oOM<{lF:TkX@%@%
  level 15 

 manager-user admin 
  password cipher @%@%,|WRF5|{[3`F<<4NVE~;7n:|H0MXY'iR~NE,6y$w6Uc4n:"7@%@%
  service-type web terminal 
  level 15 

 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
 bind manager-user audit-admin role audit-admin
 bind manager-user admin role system-admin
#
l2tp-group default-lns
l2tp-group g1
 tunnel password cipher %$%$Lm"wDcT#|JHQ{uR+]|dK"#0u%$%$
 tunnel name client
 allow l2tp virtual-template 0 remote client
#
interface Virtual-Template0
 ppp authentication-mode chap
 remote address 192.168.5.2
 ip address 192.168.5.1 255.255.255.0
#
interface GigabitEthernet0/0/0
 undo shutdown
 ip binding vpn-instance default
 ip address 192.168.0.1 255.255.255.0
 alias GE0/METH
#
interface GigabitEthernet1/0/0
 undo shutdown
 ip address 30.0.0.1 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/1
 undo shutdown
#
interface GigabitEthernet1/0/2
 undo shutdown
 ip address 1.1.1.1 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
 ipsec policy p1
#
interface GigabitEthernet1/0/3
 undo shutdown
 ip address 100.0.1.1 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/4
 undo shutdown
 ip address 192.168.1.1 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/5
 undo shutdown
 ip address 100.0.3.1 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/6
 undo shutdown
 ip address 100.0.2.1 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface Virtual-if0
#
interface NULL0
#
interface Tunnel0
 ip address 50.0.0.1 255.255.255.0
 tunnel-protocol gre
 source 30.0.0.1
 destination 30.0.0.2
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/0
 add interface GigabitEthernet1/0/3
 add interface GigabitEthernet1/0/5
 add interface GigabitEthernet1/0/6
#
firewall zone untrust
 set priority 5
 add interface GigabitEthernet1/0/0
 add interface GigabitEthernet1/0/2
 add interface GigabitEthernet1/0/4
 add interface Virtual-Template0
#
firewall zone dmz
 set priority 50
 add interface Tunnel0
#
ip route-static 200.0.1.0 255.255.255.0 1.1.1.2
ip route-static 200.0.2.0 255.255.255.0 Tunnel0
#
undo ssh server compatible-ssh1x enable
ssh authentication-type default password
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256 sha1
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256 sha1
#
firewall detect ftp
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
pki realm default
#
sa
#
location
#
multi-linkif
 mode proportion-of-weight
#
right-manager server-group
#
device-classification
 device-group pc
 device-group mobile-terminal
 device-group undefined-group
#
user-manage server-sync tsm
#
security-policy
 rule name P1_gre
  source-zone trust
  destination-zone dmz
  source-address 100.0.1.0 mask 255.255.255.0
  destination-address 200.0.2.0 mask 255.255.255.0
  action permit
 rule name P2_gre
  source-zone dmz
  destination-zone trust
  source-address 200.0.2.0 mask 255.255.255.0
  destination-address 100.0.1.0 mask 255.255.255.0
  action permit
 rule name P3_gre
  source-zone local
  source-zone untrust
  destination-zone local
  destination-zone untrust
  service gre
  action permit
 rule name P1_ipsec
  source-zone trust
  destination-zone untrust
  source-address 100.0.2.0 mask 255.255.255.0
  destination-address 200.0.1.0 mask 255.255.255.0
  action permit
 rule name P2_ipsec
  source-zone untrust
  destination-zone trust
  source-address 200.0.1.0 mask 255.255.255.0
  destination-address 100.0.2.0 mask 255.255.255.0
  action permit
 rule name P3_ipsec
  source-zone local
  destination-zone untrust
  source-address 1.1.1.1 mask 255.255.255.255
  destination-address 1.1.1.2 mask 255.255.255.255
  action permit
 rule name P4_ipsec
  source-zone untrust
  destination-zone local
  source-address 1.1.1.2 mask 255.255.255.255
  destination-address 1.1.1.1 mask 255.255.255.255
  action permit
 rule name R1_l2tp
  source-zone trust
  destination-zone untrust
  source-address 100.0.3.0 mask 255.255.255.0
  action permit
 rule name R2_l2tp
  source-zone untrust
  destination-zone trust
  destination-address 100.0.3.0 mask 255.255.255.0
  action permit
 rule name R3_l2tp
  source-zone local
  source-zone untrust
  destination-zone local
  destination-zone untrust
  service l2tp
  action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
#
quota-policy
#
pcp-policy
#
dns-transparent-policy
#
rightm-policy
#
return  